h1{
	text-align: center;
}
.row {
	margin: 0 auto;
}
.block {
	float: left;
	width: 150px;
	height: 150px;
	text-align: center;
	border: solid black 2px;
}
table{
	margin: 0px auto; 
	background-color:  rgb(245, 245, 245);
	border-collapse: collapse;
}
table tr:first-child td {
	border-top: 0;
}
table tr:last-child td {
	border-bottom: 0;
}
table tr td:first-child{
	border-left: 0;
}
table tr td:last-child{
	border-right: 0;
}